.dark {
  background-color: #2D3250;
  color: white;
}

.light {
  background-color: #c8ccce;
  color: black;
}

.grid-light {
  background-color: #ECF0F1;
  color: black;
}

.grid-dark {
  background-color: #CDCFDF;
  color: black;
}

.dark-text-secondary {
  color: #A3A5B1;
}

.light-text-secondary {
  color: #60626e;
}

.neon-box {
  border: 1px solid #08f;
  box-shadow:
  0 0 1px #08f, 
  0 0 2px #08f, 
  0 0 3px #f0f,
  0 0 4px #f0f,
  0 0 5px rgb(255, 0, 166);
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
