.App {
  text-align: center;
}

.dark {
  background-color: #2D3250;
  color: white;
}

.light {
  background-color: #c8ccce;
  color: black;
}

.grid-light {
  background-color: #ECF0F1;
  color: black;
}

.grid-dark {
  background-color: #CDCFDF;
  color: black;
}

.dark-text-secondary {
  color: #A3A5B1;
}

.light-text-secondary {
  color: #60626e;
}

.neon-box {
  border: 1px solid rgb(0, 94, 255);
  box-shadow:
    0 0 1px rgb(0, 85, 255),
    0 0 2px rgb(0, 64, 255),
    0 0 4px #f0f,
    0 0 6px rgb(85, 0, 255),
    0 0 7px rgb(123, 0, 255);
}

/* only show neon on hover on larger screens */
@media (min-width: 1024px) {
  .neon-box {
      border: 2px solid transparent;
      box-shadow: none;
      transition: box-shadow 0.3s ease;
    }

  .neon-box:hover {
    border: 2px solid rgb(0, 94, 255);
    box-shadow:
      0 0 1px rgb(0, 85, 255),
      0 0 2px rgb(0, 64, 255),
      0 0 4px #f0f,
      0 0 6px rgb(85, 0, 255),
      0 0 7px rgb(123, 0, 255);
  }
}